





header{
    // position: fixed;
    // width: 100%;
    // min-height: 80px;
    // top:0;
    // left: 0;
    // z-index: 1;

    position: relative;

    // width: 480px;

    background-color: #fff;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: solid 1px rgba(236,236,236,1);

    @media screen and (max-width: 767px){
        min-height: 60px;
    }

    @media screen and (min-width: 768px){
        position: fixed;
        width: 100%;
        min-height: 80px;
        top:0;
        left: 0;
        z-index: 1;
    }

    .conteiner{


        display: flex;
        align-items: center;
    }


}

.logo-header{
    color: $primary-text-color;
    margin-right: 93px;

    @media screen and (max-width: 767px){
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    @media screen and (max-width: 767px){
        margin-right: 88px;
    }

    // @media screen and (max-width: 1199px){
    //     margin-right: 93px;
    // }
}

.menu-button{
    margin-left: auto;

    background-color: #fff;

    @media screen and (min-width: 768px){
        display: none;
    }

    .icon-cross{
        display: none;
    }

    &.is-open .icon-cross{
        display: block;
    }

    &.is-open .icon-menu{
        display: none;
    }
}

.menu-conteiner{
    @media screen and (max-width: 767px){
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 480px;
        height: 100vh;

        display: none;
    
        background-color:#fff;

        &.is-open{
            display: block;
        }
    }
}

// .main-nav{
//     display: flex;
//     align-items: center;
// }

.nav{
    margin-bottom: 302px;
    // display: flex;

    // li:not(:last-child){
    //     margin-right: 50px;
    // }
    
    li{
        position: relative;

        margin-left: 40px;

        &:not(:last-child){
            margin-bottom: 32px;
        }
    }
    
    a{
        display:block;
        font-size: 40px;
        

        // padding-top: 32px;
        // padding-bottom: 32px;
    
        color: $primary-text-color;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.current::after{
    @media screen and (min-width: 768px){
        content: "";

        position: absolute;
        bottom: 0px;
        left: 0px;
    
        display: block;
    
        width: 100%;
        height: 4px;
        border-radius: 2px;
        bottom: -1px;
    
        background-color: $accent-color;
    }
}

.address{
    display: flex;
    flex-direction: column-reverse;

    margin-left: 40px;
    margin-bottom: 64px;
    // margin-bottom: 0;
    // align-items: center;

    @media screen and (min-width: 768px){
        display: block;
        margin-left: auto;
    }

    @media screen and (min-width: 1200px){
        display: flex;
        padding: 32px 0px;
        margin-left: auto;
    }

    li:not(:last-child){
        @media screen and (max-width: 767px){
            margin-top: 32px;
            // color: $accent-color;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px){
            margin-bottom: 10px;
        }

        @media screen and (min-width: 1200px){
            margin-right: 30px;
        }
    }
    
    a{
        display: flex;

        font-size: 34px;

        // font-size: 14px;

        color: $secondary-text-color;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        // @media screen and (max-width: 1199px){
        //     font-size: 12px;
        // }

    }


    .tel{
        @media screen and (max-width: 767px){
            color: $accent-color;
        }
    }
}

.icon-contacts{
    @media screen and (max-width:767px) {
        display: none;
    }
    fill: currentColor;

    margin-right: 10px;
    height: 16px;
    width: 16px;
    .icon-milo{
        width:16px;
        height:12px;
    }
    
    .icon-phone{
        width:10px;
        height:16px;
    }
}

.nav a:hover,
.nav a:focus,
.address a:hover,
.address a:focus{
    color:$accent-color;
}

.social-menu{
    display: flex;
    margin-left: 40px;

    li:not(:last-child){
        margin-right: 20px;
    }

    a{
        font-size: 18px;
        color: $accent-color;
    }
}

body{
    background-color: tomato;
}