





header{
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 1;

    background-color: #fff;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: solid 1px rgba(236,236,236,1);

    .conteiner{
        position: relative;

        display: flex;
        align-items: center;
    }

    @media screen and (min-width: 480px){
        width: 480px;
        min-height: 60px;
    }

    @media screen and (min-width: 768px){
        width: 768px;
        min-height: 80px;
    }

    @media screen and (min-width: 1200px){
        width: 1600px;
        min-height: 80px;
    }
}

.logo-header{
    color: $primary-text-color;
    margin-right: 93px;

    @media screen and (max-width: 479px){
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    @media screen and (max-width: 767px){
        margin-right: 88px;
    }

    // @media screen and (max-width: 1199px){
    //     margin-right: 93px;
    // }
}

.menu-button{
    @media screen and (max-width: 479px){
        position: absolute;
        top: 10px;
        right: 15px;

        background-color: #fff;
    }

    @media screen and (min-width: 768px){
        display: none;
    }
    
}

.main-nav{
    display: flex;
    align-items: center;
}

.nav{
    li:not(:last-child){
        margin-right: 50px;
    }
    
    li{
        position: relative;
    }
    
    a{
        display:block;
        padding-top: 32px;
        padding-bottom: 32px;
    
        color: $primary-text-color;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    @media screen and (max-width: 479px){
        display: none;
    }

    @media screen and (min-width: 768px){
        display: flex;
    }

    @media screen and (min-width: 1200px){
    }
}

.current::after{
    content: "";

    position: absolute;
    bottom: 0px;
    left: 0px;

    display: block;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;

    background-color: $accent-color;
}

.address{
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;

    @media screen and (max-width: 479px){
        display: none;
    }

    @media screen and (min-width: 768px){
        display: block;
        margin-left: auto;
    }

    @media screen and (min-width: 1200px){
        display: flex;
        padding: 32px 0px;
        margin-left: auto;
    }

    li:not(:last-child){
        @media screen and (min-width: 768px){
            margin-bottom: 10px;
        }

        @media screen and (min-width: 1200px){
            margin-right: 30px;
        }
    }



    
    a{
        font-size: 12px;

        color: $secondary-text-color;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
}

.icon-contacts{
    fill: currentColor;

    margin-right: 10px;
    height: 16px;
    width: 16px;
    .icon-milo{
        width:16px;
        height:12px;
    }
    
    .icon-phone{
        width:10px;
        height:16px;
    }
}

.nav a:hover,
.nav a:focus,
.address a:hover,
.address a:focus{
    color:$accent-color;
}