





header{




    background-color: #fff;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: solid 1px rgba(236,236,236,1);

    @media screen and (max-width: 767px){
        min-height: 60px;
    }

    @media screen and (min-width: 768px){
        position: fixed;
        width: 100%;
        min-height: 80px;
        top:0;
        left: 0;
        z-index: 1;


    }

    .header-conteiner{

        position: relative;
        display: flex;
        align-items: center;
    }


}

.logo-header{
    color: $primary-text-color;

    @media screen and (max-width: 767px){
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    @media screen and (min-width: 768px){
        margin-right: 88px;
    }

    @media screen and (min-width: 1200px){
        margin-right: 93px;
    }
}


.menu-button{
    margin-left: auto;

    z-index: 1;

    background-color: #fff;

    @media screen and (min-width: 768px){
        display: none;
    }

    .icon-cross{
        display: none;
    }
    .icon-cross:hover,
    .icon-cross:focus{
        fill: $accent-color;
    }

    &.is-open .icon-cross{
        display: block;
    }

    &.is-open .icon-menu{
        display: none;
    }
}


.menu-conteiner{
    @media screen and (max-width: 767px){
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        padding: 48px 40px;

        display: none;
    
        background-color:#fff;

        &.is-open{
            display: block;
        }
    }

    @media screen and (min-width: 768px){
        display: flex;
    }
}

// .main-nav{
//     display: flex;
//     align-items: center;
// }

.nav{

    a{
        display:block;

        color: $primary-text-color;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    @media screen and (max-width: 767px){
        margin-bottom: 100%;

        li{
            position: relative;
    
            &:not(:last-child){
                margin-bottom: 32px;
            }
        }

        a{
            display:block;
            font-size: 40px;

            color: $primary-text-color;
        
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    @media screen and (min-width: 768px){
        display: flex;

        li{
            position: relative;
            padding-top: 32px;
            padding-bottom: 32px;
        }

        li:not(:last-child){
            margin-right: 50px;
        }
    }



}

.current::after{
    @media screen and (min-width: 768px){
        content: "";

        position: absolute;
        bottom: 0px;
        left: 0px;
    
        display: block;
    
        width: 100%;
        height: 4px;
        border-radius: 2px;
        bottom: -1px;
    
        background-color: $accent-color;
    }
}

.address{

    // margin-bottom: 0;
    // align-items: center;

    @media screen and (max-width: 767px){
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 64px;
    }

    @media screen and (min-width: 768px){
        display: block;
        margin-left: 84px;
        padding: 21px 0;
    }

    @media screen and (min-width: 1200px){
        display: flex;
        padding: 32px 0px;
        margin-left: 305px;
    }

    li:not(:last-child){
        @media screen and (max-width: 767px){
            margin-top: 32px;
            // color: $accent-color;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px){
            margin-bottom: 10px;
        }

        @media screen and (min-width: 1200px){
            margin-right: 30px;
        }
    }
    
    a{
        display: flex;

        // font-size: 34px;


        color: $secondary-text-color;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        // @media screen and (max-width: 1199px){
        //     font-size: 12px;
        // }

        @media screen and (max-width: 767px){
            font-size: 24px;
        }

        @media screen and (min-width: 768px){
            font-size: 12px;
        }

        @media screen and (min-width: 1200px){
            font-size: 14px;
        }

    }


    .tel{
        @media screen and (max-width: 767px){
            color: $accent-color;
            font-size: 34px;
        }
    }
}

.icon-contacts{
    @media screen and (max-width:767px) {
        display: none;
    }
    fill: currentColor;

    margin-right: 10px;
    height: 16px;
    width: 16px;
    .icon-milo{
        width:16px;
        height:12px;
    }
    
    .icon-phone{
        width:10px;
        height:16px;
    }
}

.nav a:hover,
.nav a:focus,
.address a:hover,
.address a:focus{
    color:$accent-color;
}

.social-menu{
    display: flex;

    li:not(:last-child){
        margin-right: 10px;
        padding-right: 10px;
    }

    li{
        position: relative;
    }

    li:not(:last-child)::after{
        content: "";

        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 22px;
    
        display: block;

        border: 1px solid rgba(33, 33, 33, 0.2);
    }

    a{
        font-size: 18px;
        color: $accent-color;
    }

    @media screen and (min-width:768px) {
        display: none;
    }
}