.advantages{

    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;

        margin: -15px;
    }

    @media screen and (min-width: 1200px){
        flex-wrap: nowrap;
    }


    // li:not(:last-child){
    //     margin-right: 30px;
    // }
}

.advantages-item{

    

    &:not(:last-child){
        @media screen and (max-width: 767px){
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px){
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }



}

.advanages-svg{
    display: flex;
    margin-bottom: 30px;

    background-color: #F5F4FA;

    @media screen and (max-width: 767px){
        height: 120px;
        width: 450px;
    }

    @media screen and (min-width: 768px){
        height: 120px;
        width: 354px;
    }

    @media screen and (min-width: 1200px){
        height: 120px;
        width: 270px;
    }

    .icon-advantages{
        margin: auto;
    
        height: 70px;
        width: 70px;
    }
}

.advantages h3{
    margin-bottom: 10px;

    @media screen and (max-width: 767px){
        text-align: center;
    }
}
