.advantages{
    // display: flex;


    // li:not(:last-child){
    //     margin-right: 30px;
    // }
}

.advantages li{
    &:not(:last-child){
        @media screen and (min-width: 480px){
            margin-bottom: 30px;
        }
    }
}

.advanages-svg{
    display: flex;
    margin-bottom: 30px;
    // width: 270px;
    // height: 120px;
    

    background-color: #F5F4FA;

    @media screen and (min-width: 480px){
        height: 120px;
        width: 450px;
    }

    .icon-advantages{
        margin: auto;
    
        height: 70px;
        width: 70px;
    }
}

.advantages h3{
    margin-bottom: 10px;

    @media screen and (min-width: 480px){
        text-align: center;
    }
}
