.hero{
    // height: 600px;
    width: 480px;
    margin-left: auto;
    margin-right: auto;

    background-color: #2F303A;;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;

    @media screen and (min-width: 480px){
        width: 480px;
        height: 400px;
    }

    @media screen and (min-width: 768px){
        width: 768px;
        height: 400px;
    }

    @media screen and (min-width: 1200px){
        width: 1600px;
        height: 600px;
    }
}

.hero-conteiner{
    @media screen and (max-width: 1199px){
        padding-top: 118px;
        padding-bottom: 118px;
    }

    @media screen and (min-width: 1200px){
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .hero-title{
        color: #fff;
      
        font-weight: 900;
        line-height: 1.36;
    
        letter-spacing: 0.06em;
    
        margin-bottom: 30px;

        @media screen and (max-width: 1199px){
            font-size: 26px;
        }

        @media screen and (min-width: 1200px){
            font-size: 44px;
        }
    }

    .button{
        background-color: $accent-color;
        color: #fff;
    
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
    
        text-align: center;
        letter-spacing: 0.06em;
    
        padding: 10px 32px;
        border-radius: 4px;
    }
}