.workers{
    background-color: #F5F4FA;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;

    letter-spacing: 0.03em;

    @media screen and (max-width: 480px){
        width: 480px;
    }

    .workers-list{
        @media screen and (min-width: 768px){
            display: flex;
            flex-wrap: wrap;

            // margin: -15px;
        }

    }
}

// .workers-name:not(:last-child){
//     margin-right: 30px;
// }

.workers-name{
    // width: 270px;
    // height: 428px;

    @media screen and (max-width: 767px){
        width: 450px;
        height: 622px;
    }

    @media screen and (max-width: 1199px){
        width: 354px;
        height: 536px;

        width: calc((100%-2*30px)/2);
        // margin: 15px;
    }

    text-align: center;

    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    &:not(:last-child){
        @media screen and (max-width: 767px){
            margin-bottom: 30px;
        }
    }

    b{
        font-weight: 500;
        
        display: inline-block;
    
        margin-bottom: 10px;
    }
    
    img{
        margin-bottom: 30px;

        @media screen and (max-width: 767px){
            width: 450px;
            height: 460px;
        }

        @media screen and (max-width: 767px){
            width: 354px;
            height: 374px;
        }

    }
}

.container-links{
    display: flex;

    // margin-left: 32px;
    // margin-right: 32px;
    justify-content: center;
    margin-top: 16px;

    .workers-link:hover,
    .workers-link:focus{
    background-color: $accent-color;
    color: #fff;
    }

    .workers-link{
        display: flex;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        margin-right: 10px;
    
        color: #AFB1B8;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .workers-svg{
            width: 20px;
            height: 20px;
            margin: auto;
        
            fill: currentColor;
        }
    }
}
