body{
    padding-top: 80px;

    font-family: $font-body;
    font-size: 14px;
    letter-spacing: 0.03em;

    background-color: #fff;
    color: $primary-text-color;

    @media screen and (max-width: 767px){
        padding-top: 60px;
    }

}

.conteiner{

    border: 3px solid tomato;

    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;



    @media screen and (min-width: 480px){
        width: 480px;
    }

    @media screen and (min-width: 768px){
        width: 768px;
    }

    @media screen and (min-width: 1200px){
        width: 1200px;
    }
}

h2{

    font-weight: 700;
    font-size: 36px;
    // line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    @media screen and (max-width: 1199px){
        font-size: 28px;
    }
}

.description-page{
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: #fff;

    @media screen and (max-width: 1199px){
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

  p{
    color:$secondary-text-color;
}

.description-page{
    h3{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
    }

    p{
        margin-top: 0;
        margin-bottom: 0;

        font-weight: 400;
        line-height: 1.71;
    
        letter-spacing: 0.03em;
    }
}

.title{
    margin-bottom: 50px;
    font-size: 36px;

    @media screen and (max-width: 1199px){
        margin-bottom: 30px;
        font-size: 28px;
    }
}

b{
    color: $primary-text-color;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }