.logo{
    font-family: $font-logo;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;

    @media screen and (min-width: 480px){
        font-size: 24px;
    }
}

.accent{
    color: $accent-color;
}