.filter-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 40px;

    li{
        &:not(:last-child){
            margin-right: 8px;
        }

        &:not(:nth-last-child(-n+2)){
            margin-bottom: 15px;
        }
    }

    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }

    .filter{
        background-color: #F5F4FA;
    
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
    
        border-radius: 4px;
        padding: 6px 22px;
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .filter:hover,
    .filter:focus{
    color: #FFFFFF;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.projects{

    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
    }

    li{
        width: 100%;
        border: solid 1px rgba(238,238,238,1);

        @media screen and (min-width: 768px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            width: 370px;
        }

    }

    li:not(:last-child){
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        } 
    }

    li:not(:nth-last-child(-n+2)){
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-bottom: 30px;
        }
    }

    li:not(:nth-last-child(-n+3)){
        @media screen and (min-width: 1200px) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    li:nth-child(odd){
        @media screen and (min-width: 768px) {
            margin-right: 30px;
        }  
    }

    li{
        @media screen and (min-width: 1200px) {
            margin-right: 30px;
        } 
    }

    li:nth-child(3n){
        @media screen and (min-width: 1200px) {
            margin-right: 0px;
        }  
    }
    
    

    

    
}

.projects a:focus,
.projects a:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects a{
    display: block;

    .img-text{
        position: relative;
        overflow: hidden;
    }
}

.projects-name{
    padding: 20px 24px;

    b{
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    
        display: flex;
        margin-bottom: 4px;
    }
}

.sub-text{
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 294px;
    padding: 63px 24px;

    background-color: rgba(33, 150, 243, 0.9);
    color: #fff;

    opacity: 0;
    transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects a:hover .sub-text,
.projects a:focus .sub-text{
    opacity: 1;
    transform: translateY(0);
}

